{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "babel"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      { "components": ["Link"], "specialLink": ["to"] }
    ],
    "jsx-a11y/label-has-for": 0,
    "no-underscore-dangle": 0
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true
  }
}
