.carousel {
  text-align: center;
}

.slider {
  border-radius: 5px;
}

.slider__container {
  position: relative;
}

.slider__title {
  margin-bottom: 0;
}
.slider__subtitle {
  margin-top: 0;
}

.slider__image {
  border-radius: 5px;
}

.slider__button--left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slider__button--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.slider__link {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
