.carousel {
  text-align: center;
}

.slider {
  border-radius: 5px;
}

.slider__container {
  position: relative;
}

.slider__title {
  margin-bottom: 0;
}
.slider__subtitle {
  margin-top: 0;
}

.slider__image {
  border-radius: 5px;
}

.slider__button--left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slider__button--right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.slider__link {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
}

/*  need 3 levels of specificity to beat semantic styling
    react-carousel active = disabled, semantic ui has disabled
    with opacity 0.45 !important
*/
.slider__container .slider__dot--active[role='button'],
.slider__container .slider__dot--active[role='button']:focus {
  background-color: white;
  opacity: 1 !important;
}

.slider__container .slider__dot[role='button'],
.slider__container .slider__dot[role='button']:focus {
  background-color: #e8e8e8;
  opacity: 0.5 !important;
}

.slider__dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
